<div class="container contenedor">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 10rem; margin-bottom: 12rem;">
            <div class = "contenedor">
                <img src="assets/82.jpeg" alt="Icono" style="width: 100%; height: auto;">
            </div>
                <form class="form-inline" [formGroup]="formularioBuscar">
                    <div class="container form-group">
                        <input formControlName="medicamento" class="form-control mr-sm-2" size="45" 
                        type="search" placeholder="Busca tu medicamento" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" 
                        [disabled]="!formularioBuscar.valid"
                        type="submit" (click)="buscar()">
                            Buscar 
                        </button>               
                    </div>
                </form>
        </div>   
    </div>
</div>